@tailwind base;
@tailwind components;
@tailwind utilities;


.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: rgb(7, 7, 7);
  }
  
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#f1c80e; 
  }
  
  .content {
    position: relative;
    z-index: 2;
    max-width: 600px;
  }
  
  .title {
    font-size: 32px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;
  }
  
  .subtitle {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.5;
  }
  
  /* Call-to-Action Button */
  .ctaButton {
    padding: 8px 15px;
    background-color: black;
    color: #f1c80e;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    transition: background-color 0.3s;
  }
  
  .ctaButton:hover {
    background-color: rgb(148, 132, 132);
    cursor: pointer;
    color: rgb(15, 15, 15);
  }
  
  